<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/cloud_sun.png">
    <script src= "../public/js/app.js"></script>
</head>
<body> 
    <div class="main-content">
        {{>header}}
        <h5>
            {{type}} {{message}}
        </h5>
    </div>
    {{>footer}}
</body>
</html>