<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/cloud_sun.png">
    <title>
     Help Page
    </title>

</head>
<body> 
    <div class="main-content">
    {{>header}}
    <h3>How to use our Weather App</h3>
    
    <p>
       {{helpMessage}}
    </p>
    </div>
    {{>footer}}
</body>
</html>